adw-gtk-theme
alacritty
brightnessctl
breeze
breeze-gtk
cliphist
ddcutil
fastfetch
fish
grim
gum
hypridle
hyprland
hyprlock
hyprpaper
hyprpicker
hyprpolkitagent
imagemagick
jq
lf
lib32-mangohud
libnotify
lsp-plugins
mangohud
matugen
neovim
noto-fonts-cjk
noto-fonts-emoji
nwg-look
otf-font-awesome
papirus-icon-theme
pavucontrol
pipewire
pipewire-alsa
pipewire-pulse
qpwgraph
qt5-wayland
qt5ct
qt6-wayland
qt6ct
rofi
rofi-emoji
slurp
stow
swaync
tailscale
ttf-fira-code
ttf-fira-sans
ttf-firacode-nerd
ttf-jetbrains-mono-nerd
ttf-nerd-fonts-symbols
uwsm
vlc
waybar
wlogout
xdg-desktop-portal-gtk
xdg-desktop-portal-hyprland
xdg-user-dirs
